{% extends 'Users/base.html' %}

{% block content %}
  <h1>Order History</h1>

  {% if orders %}
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Order Date</th>
          <th>Total Bill</th>
          <th>Review</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.pk }}</td>
            <td>{{ order.order_date }}</td>
            <td>${{ order.total_bill }}</td>
            <td></td>
            <td><a href="{% url 'customer-order-details' order.pk %}">View Details</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No orders found</p>
  {% endif %}
{% endblock %}
