{% extends "Users/base.html" %}

{% block content %}

<div class="card">
    <div class="row">
        <div class="col-md-4">
            <div class="item-image">
                <img src="{{ item.item_image.url }}" alt="{{ item.item_title }}" class="item-image">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{ item.item_title }}</h2>
                <p class="card-text">{{ item.item_description }}</p>
                {% if item.item_discount %}
                <p class="card-text">Price: <s>${{ item.item_price }}</s> ${{ item.selling_price }}</p>
                {% else %}
                <p class="card-text">Price: ${{ item.item_price }}</p>
                {% endif %}
                <p class="card-text">Stock: {{ item.item_stock }}</p>
                <p class="card-text">Orders: {{ item.item_orders }}</p>
                <p class="card-text">Sold by: {{ item.vendor.user.username }}</p>
                {% if item.average_rating  %}
                <p class="card-text">Rating: {{ item.average_rating }}/5</p>
                {% endif %}
                {% if user.user_type == 'VN' %}
                <a class="btn btn-primary" href="{% url 'edit-item' item.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete-item' item.pk %}">Delete</a>
                {% elif user.user_type == 'CS' %}
                <a class="btn btn-primary" href="{% url 'add-to-cart' item.pk %}">Add to Cart</a>
                <a class="btn btn-warning" href="{% url 'add-to-wishlist' item.pk %}">Add to Wishlist</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if request.user.customer and has_ordered and not review_exists %}
    <div class="card">
        <div class="card-body">
            <p>You have purchased this item.</p>
            <a href="{% url 'leave-review' item.pk %}">Leave a review and rating</a>
        </div>
    </div>
{% endif %}

{% if reviews %}
    <div class="card">
        <div class="card-body">
            <h3>Reviews</h3>
            <ul>
                {% for review in reviews %}
                <li>{{ review.owner }} - Rating: {{ review.rating }} - {{ review.audit }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% endblock content %}
