{% extends "Users/base.html" %}
{% block content %}
    <h1>Vendor Dashboard</h1>
    <div class="container">
        <div class="card">
            <div class="card-body">
            <h2 class="card-title">Money Earned on EurekaMart</h2><br>
            <p class="card-text"><h4>${{ user.balance }}</h4></p>
            </div>
        </div>
    </div>
    {% if low_stock_items %}
    <h2>Items with Low Stock:</h2>
    <ul>
        {% for item in low_stock_items %}
            <li>{{ item.item_title }} - Stock: {{ item.item_stock }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p><h6> Everything's stocked up! Good Job! </h6></p>
    {% endif %}
{% endblock %}
