{% extends "Users/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'creg' %}" class="btn btn-primary">Register as a Customer</a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'vreg' %}" class="btn btn-primary">Register as a Vendor</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <h3>Register with Google</h3>
                <a href="{% url 'google-register' %}" class="btn btn-primary">Register with Google</a>
            </div>
        </div>
    </div>
{% endblock %}
